.customer-service {
  color: #fff;
  width: 30%;
}

.customer-service h3 {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 2px solid #ffa500;
}

.customer-service ul {
  list-style: none;
  padding: 0;
}

.customer-service li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.customer-service li a:hover {
  color: #ffa500;
}
