.main-section {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px;
}

.header-section {
  width: 100%;
  text-align: center;
}

.sub-sections {
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding-top: 30px;

  margin-left: 100px;
  margin-right: 100px;
}

.sub-section-1,
.sub-section-2 {
  display: flex;
  flex: 1;
  background-color: azure;
  margin: 5px;
  width: 300px;
  height: 250px;
  border-radius: 10px;
}

.sub-section-1:hover {
  transform: translateX(-5px);
  transform: translateY(-5px);
}
.sub-section-2:hover {
  transform: translateX(5px);
  transform: translateY(-5px);
}

.sub-section-img {
  flex: 1;
}

.sub-section-1 img {
  width: 250px;
  height: 250px;
  margin: 0;
  border-radius: 10px;
}

.sub-section-container {
  flex: 1;
  text-align: left;
  padding: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.sub-section-header {
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 5px;
}

.sub-section-text {
  padding-left: 5px;
}

.sub-section-2 img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.first-text {
  font-size: 20px;
  font-weight: bold;
  color: #0c6810;
  padding: 5px;
  padding-top: 0px;
}

.second-text {
  font-size: 28px;
  font-weight: bold;
  color: #030703;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2px;
}
